.cv-container {
  max-width: 850px;
  margin: auto;
  font-family: "Georgia", serif;
  line-height: 1.4;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.2rem;
}

h2 {
  font-size: 1.2rem;
  margin-top: 2rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.3rem;
}

.cv-item {
  display: flex;
  justify-content: space-between;
  margin-top: 0.8rem;
}

.cv-left {
  width: 75%;
}

.cv-right {
  width: 25%;
  text-align: right;
  color: #555;
}
